/*Top Bar*/
.upperbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: blueviolet;
  color: antiquewhite;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
.leftside {
  padding-left: 5px;
}
.upperbar a {
  color: antiquewhite;
  padding: 10px;
  text-decoration: none; /* This removed the horizontal lines from under the words since we used hyperlinks */
}
.upperbar a:not(:last-child) {
  /*This picked every element in the class that is not the last child to make vertical lines with */
  border-right: 1px solid antiquewhite; /* This made a border to the right of the elements  */
  padding-right: 15px; /*This made space to the right of the vertical line */
}
.upperbar a:hover {
  color: rgb(57, 233, 51);
  transition: 0.5s;
}
footer {
  text-align: center;
  padding: 10pt;
  background-color: blueviolet;
  height: 100%;
  width: 100%;
  color: antiquewhite;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35pt;
}
.mexico {
  width: 300px;
}
.homebuilder {
  width: 300px;
}
.minicoop {
  width: 400px;
  /* display: flex; */
}
body,
html {
  margin: 0;
  height: 100%;
  background-color: bisque;
}
body {
  display: flex;
  flex-direction: column;
}
.header {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 40pt;
  padding-left: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
}
.intro {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20pt;
  padding-left: 10px;
}

.bahamas {
  width: 400px;
  border-bottom-right-radius: 3rem;
}
.minicoop {
  border-bottom-right-radius: 3rem;
}

.container-wrapper {
  display: flex;
  align-items: flex-start;
  align-items: flex-end;
}
.container {
  display: flex;
  border: 3pt double blueviolet;
  border-radius: 3rem;
  padding-left: 20px;
  margin-left: 10rem;
  margin-bottom: 1.8rem;
}
.container2 {
  display: flex;
  border: 3pt double blueviolet;
  margin-left: 5rem;
  margin-right: 10rem;
  padding-left: 20px;
  margin-bottom: 8rem;
  border-radius: 3rem;
}
.vacation {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25pt;
}
.vacayintro {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16pt;
  align-self: flex-end;
  padding-right: 20px;
}
.builder {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25pt;
}
.builderintro {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16pt;
}
