/*Top Bar*/
.upperbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: blueviolet;
  color: antiquewhite;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
.upperbar a {
  color: antiquewhite;
  padding: 10pt;
  text-decoration: none; /* This removed the horizontal lines from under the words since we used hyperlinks */
}
.upperbar a:not(:last-child) {
  /*This picked every element in the class that is not the last child to make vertical lines with */
  border-right: 1px solid antiquewhite; /* This made a border to the right of the elements  */
  padding-right: 15px; /*This made space to the right of the vertical line */
}
.upperbar a:hover {
  color: rgb(57, 233, 51);
  transition: 0.5s;
}
footer {
  text-align: center;
  padding: 10pt;
  background-color: blueviolet;
  height: 100%;
  width: 100%;
  color: antiquewhite;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
body,
html {
  margin: auto;
  height: auto;
  background-color: bisque;
}
.heading {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  display: flex;
  padding-left: 5rem;
}
.intro {
  display: flex;
  flex-grow: 4;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 18pt;
  padding-left: 5rem;
}
#main {
  padding-left: 20rem;
  padding-bottom: 5rem;
  padding-right: 20rem;
}
.heading1 {
  padding-right: 2rem;
  padding-left: 2rem;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 25pt;
}
.container {
  display: flex;
  justify-content: flex-start;
}
.techintro {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 450;
  font-style: normal;
  font-size: 18pt;
  padding-right: 1rem;
}
.container2 {
  display: flex;
  justify-content: flex-start;
  /* padding-top: 20%; */
}
.heading2 {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 25pt;
  padding-left: 2rem;
}
.headerintro {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 450;
  font-style: normal;
  font-size: 18pt;
  padding-right: 2rem;
  padding-left: 3rem;
}
.aboutme {
  border: 3pt double blueviolet;
  border-radius: 5rem;
  margin: 5rem;
}
.license {
  border-top-right-radius: 5rem;
}
.aboutme2 {
  border: 3pt double blueviolet;
  border-radius: 5rem;
  margin: 5rem;
}
.hhalicense {
  border-top-right-radius: 5rem;
}
