body {
  margin: 0;
  background-color: bisque;
}
/*Top Bar*/
.upperbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: blueviolet;
  color: antiquewhite;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
.upperbar a {
  color: antiquewhite;
  padding: 10px;
  text-decoration: none; /* This removed the horizontal lines from under the words since we used hyperlinks */
}
.upperbar a:not(:last-child) {
  /*This picked every element in the class that is not the last child to make vertical lines with */
  border-right: 1px solid antiquewhite; /* This made a border to the right of the elements  */
  padding-right: 15px; /*This made space to the right of the vertical line */
}
.upperbar a:hover {
  color: rgb(57, 233, 51);
  transition: 0.5s;
}
#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#main .heading {
  grid-area: 1 / 1 / span 1 / span 1;
  font-size: 30pt;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
}
#main .selfie {
  grid-area: 1 / 2 / span 3 / span 1;
  place-self: center;

}
#main .aboutme {
  font-size: 20pt;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  grid-area: 1 / 3 / span 2 / span 1;
  padding-right: 10%;
}
#main .quote {
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
  grid-area: 2 / 1 / span 1 / span 1;
  align-self: flex-end;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 40pt;
  background-color: blueviolet;
  height: 100%;
  width: 100%;
  color: antiquewhite;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  
